@charset "UTF-8";
body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_all {
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: white;
}

header .title {
  position: absolute;
  width: 100%;
  padding-left: 5%;
  color: #129da4;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

header .title h2 {
  font-size: 22px;
}

header ul {
  position: relative;
  width: 35%;
  top: 44px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  font-size: 12px;
}

.drawer {
  visibility: hidden;
}

.top {
  background: url(../img/main.jpg);
  width: 90%;
  height: 900px;
  margin: 0 5% 0 5%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 20px;
  background-size: auto;
  position: relative;
  z-index: -99;
}

.top h1 {
  position: relative;
  top: 680px;
  color: white;
  font-size: 40px;
  position: fixed;
}

.topics {
  padding-top: 7.5%;
  background-color: white;
  margin-left: 5%;
}

.inner {
  border-left: solid 3px #333;
  padding-left: 20px;
  padding-bottom: 10px;
}

.topics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topics_date {
  font-size: 10px;
  margin-right: 10px;
  margin-top: 5px;
  z-index: 10;
}

.vision_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vision_left {
  margin-left: 5%;
}

.vision_left img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vision_right {
  width: 60%;
  position: relative;
  text-align: right;
  margin-right: 5%;
}

.vision_title {
  font-size: 35px;
  color: #129da4;
}

.vision_line {
  background-color: #129da4;
  width: 250px;
  height: 3px;
  margin: 30px 0 30px auto;
}

.vision_ttl {
  margin-top: 30px;
  font-size: 20px;
  color: #129da4;
}

.vision_txt {
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.service {
  z-index: 2;
}

.service_title {
  text-align: center;
  padding-top: 125px;
  padding-bottom: 125px;
  font-size: 35px;
  letter-spacing: 5px;
}

.service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.service_item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.service_background {
  position: absolute;
  background-color: #f3f3f3;
  width: 60%;
  height: 360px;
  z-index: -1;
  margin-top: 5%;
  margin-left: 25%;
}

.service_left2 {
  width: 55%;
  margin-right: 5%;
  margin-left: 5%;
}

.service_left2 img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: right;
}

.service_right2 {
  background-color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 90px;
  padding-bottom: 80px;
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 0 0 20px #ddd;
}

.service_right {
  width: 55%;
  margin-right: 5%;
  margin-left: 5%;
}

.service_right img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: right;
}

.service_left {
  background-color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 90px;
  padding-bottom: 80px;
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 0 0 20px #ddd;
}

.service_ttl {
  font-weight: bold;
}

.service_txt {
  margin-top: 40px;
}

.btn_box {
  float: right;
  margin-right: 12%;
  margin-top: 40px;
  display: inline-block;
}

.btn {
  padding: 12px 25px 10px 25px;
  border-bottom: solid 3px #333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #333), color-stop(50%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, #333 50%, rgba(0, 0, 0, 0) 50%);
  background-position: 0 0;
  background-size: auto 270%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background-position: 0 95%;
  color: #fff;
}

.about {
  width: 100%;
}

.about_title {
  font-size: 35px;
  color: #129da4;
  text-align: center;
  letter-spacing: 5px;
}

.about_list {
  width: 50%;
  margin: 130px auto 130px auto;
}

.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  border-bottom: 1px solid #ddd;
}

.about_ttl {
  width: 35%;
}

.faq_title {
  text-align: center;
  font-size: 35px;
  letter-spacing: 4px;
}

.accordion {
  width: 50%;
  margin-top: 120px;
  margin-left: 25%;
}

.accordion-item {
  padding: 10px 0px 0px 0px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  margin-bottom: 10px;
}

.accordion-check {
  display: none;
}

.accordion-label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 50px;
}

.accordion-label::before {
  position: absolute;
  top: 60%;
  left: -40px;
  height: 100%;
  width: 40px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  text-align: center;
  font-size: 25px;
  content: "+";
}

.accordion-box {
  display: none;
  width: 94%;
  margin-top: 10px;
  margin-left: 30px;
  height: auto;
  margin-bottom: 25px;
  padding: 25px 30px 25px 30px;
  overflow: hidden;
  background-color: #f3f3f3;
  opacity: 1;
}

.accordion-check:checked + .accordion-label:before {
  content: "×";
}

.contact_title {
  margin-top: 150px;
  text-align: center;
  font-size: 35px;
  color: #129da4;
}

.contact_form {
  width: 38%;
  margin: 120px auto 10px auto;
}

.contact_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.contact_form_box2 {
  width: 62%;
  height: 50px;
}

.contact_txtarea {
  width: 62%;
  height: 200px;
}

.contact_box2 {
  width: 100%;
  text-align: center;
}

.contact_btn {
  width: 150px;
  height: 42px;
  margin-top: 8px;
  margin-bottom: 120px;
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  border-left: solid 3px #333;
  border-right: solid 3px #333;
}

.contact_form_ttl {
  width: 35%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}

input {
  outline: 1px #333 solid;
}

textarea {
  outline: 1px #333 solid;
}

footer {
  text-align: center;
  border-top: solid 1px #333;
  margin-bottom: 105px;
}

.footer_ttl {
  padding-top: 105px;
  padding-bottom: 65px;
  font-size: 15px;
  letter-spacing: 3px;
}

.footer_txt small {
  font-size: 15px;
}

@media screen and (min-width: 2150px) {
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 1910px;
  }
}

@media screen and (max-width: 768px) {
  header .title {
    padding-top: 21px;
  }
  header .drawer {
    visibility: visible;
    width: 24px;
    right: 24px;
    top: 25px;
    position: absolute;
    border-top: solid 4px #666666;
    cursor: pointer;
    z-index: 100;
  }
  header .drawer::before, header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #666666;
    height: 4px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header .drawer::before {
    top: 6px;
  }
  header .drawer::after {
    top: 15px;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 3;
  }
  header nav ul {
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    float: none;
    padding-top: 60%;
    padding-bottom: 700%;
    background: #999999;
  }
  header nav ul li {
    width: 100%;
    margin: 0 auto 20px;
    padding-right: 0;
    border-right: none;
  }
  header nav ul li a {
    font-size: 20px;
    line-height: 2;
  }
  body.nav-open header .drawer {
    border-top: 0;
  }
  body.nav-open header .drawer::before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  body.nav-open header .drawer::after {
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .top {
    width: 90%;
    height: 665px;
    background-size: cover;
    background-position-y: 40px;
  }
  .topics {
    padding-top: 195px;
  }
  .vision_wrap {
    display: block;
  }
  .vision_left {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
    text-align: center;
  }
  .vision_left img {
    width: 90%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .vision_right {
    width: 95%;
    text-align: left;
    margin-left: 5%;
  }
  .vision_title {
    margin-top: 40px;
  }
  .vision_ttl {
    width: 90%;
    font-size: 15px;
  }
  .vision_line {
    width: 200px;
    margin-right: 5%;
  }
  .vision_txt {
    margin-right: 5%;
    font-size: 12px;
  }
  .service_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  .service_item2 {
    display: block;
    margin-bottom: 60px;
  }
  .service_right {
    width: 90%;
  }
  .service_right img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service_left {
    margin-top: -8px;
    width: 90%;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .service_right2 {
    margin-top: -8px;
    width: 90%;
    padding-top: 45px;
    padding-bottom: 120px;
  }
  .service_left2 {
    width: 90%;
  }
  .service_left2 img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service_txt {
    width: 78%;
    margin: 40px auto 0 auto;
    font-size: 12px;
    text-align: left;
  }
  .about_list {
    width: 90%;
  }
  .accordion {
    width: 85%;
    margin: 60px auto;
  }
  .accordion-label {
    font-size: 12px;
  }
  .accordion-box {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
  }
  .accordion-check:checked ~ .accordion-box {
    padding: 5px;
  }
  .contact {
    z-index: 1;
  }
  .contact_form {
    width: 100%;
    margin-top: 80px;
  }
  .contact_box {
    display: block;
    margin-left: 5%;
  }
  .contact_form_box2 {
    width: 95%;
    height: 50px;
  }
  .contact_txtarea {
    width: 95%;
    height: 200px;
  }
  .contact_box2 {
    width: 100%;
    text-align: center;
  }
}
